*{
	margin: 0;
	padding: 0;
}
html {
	font-family: 'ArialMT Regular';
	font-size: ;
}
header {
	width: 1280px;
	height: 323px;
	margin-left: auto;
	margin-right: auto;
	background: #445162;
}
.product {
	padding-left: 50px;
	padding-top:  50px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-size: 60px;
	font-weight: 400;
	line-height: 44px;
}
.icon1 {
	padding-left: 51px;
	padding-top: 49px;
}
.icon2 {
	padding-left: 51px;
	padding-top: 12px;
}
.shape{
	width: 469px;
	height: 214px;
	background: white;
	float: right;
	margin-top: -50px;
	margin-right: 50px;
}
.puton{
	width: 622px;
	height: 127px;
	float: right;
	padding-top: 42px;
	padding-right: 53px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
}
body{
	width: 1280px;
	height: 2863px;
	margin-left: auto;
	margin-right: auto;
}
.about0{
	height: 345px;
}
.about{
	width: 254px;
	height: 28px;
	padding-left: 53px;
	padding-top:  43px;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}
.about1{
	width: 649px;
	height: 63px;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 53px;
	padding-top: 30px;
}
.about2{
	width: 655px;
	height: 60px;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 53px;
	padding-top: 20px;
}
.shape2{
	width: 430px;
	height: 245px;
	background: #445161;
	float: right;
	margin-top: -28px;
	margin-right: 50px;
}
.dignity0{
	background: #f5f5f5;
	height: 410px;
}
.dignity{
	width: 361px;
	height: 28px;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 464px;
	padding-top: 40px;
}
.container { 
	display: flex;
	flex-wrap: wrap;
	padding-left: 52px;
	padding-top: 35px;
}
.plus{
	float: left;
}
.delectus{
	width: 526px;
	height: 63px;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	float: left;
	padding-left: 9px;
	margin-top: -5px;
}
.element1{
	padding-right: 23px;
	padding-bottom: 40px;
}
.scrinshots0{
	height: 487px;
}
.scrinshots{
	width: 138px;
	height: 22px;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 571px;
	padding-top: 50px;
}
.container2 { 
	display: flex;
	flex-wrap: wrap;
	padding-left: 52px;
	padding-top: 40px;
}
.thedesc{
	width: 311px;
	height: 23px;
	color: #445161;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	float: left;
	padding-left: 15px;
	margin-top: -5px;
}
.image2{
	float: left;
}
.pariatur{
	width: 359px;
	height: 108px;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 215px;
	margin-top: 33px;
}
.element2{
	padding-right: 15px;
	padding-bottom: 30px;
}
.reviews0{
	background: #f5f5f5;
	height: 430px;
}
.reviews{
	width: 138px;
	height: 22px;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 585px;
	padding-top: 50px;
}
.container3{
	display: flex;
	flex-wrap: wrap;
	padding-left: 52px;
	padding-top: 40px;
}
.element3{
	padding-right: 33px;
	padding-bottom: 23px;
}
.image3{
	width: 75px;
	height: 75px;
	background: #445161;
	border-radius: 50%;
	float: left;
}
.image33{
	width: 483px;
	height: 121px;
	background-image: url(images/bg_review.png);
	margin-left: 15px;
	float: left;
}
.porro{
	width: 436px;
	height: 64px;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding-left: 27px;
	padding-top: 16px;
	font-style: italic;
}
.lourens{
	width: 68px;
	height: 10px;
	color: #989898;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding-left: 27px;
	padding-top: 15px;
}
.buyitnow0{
	height: 656px;
}
.buyitnow{
	width: 139px;
	height: 28px;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 572px;
	padding-top: 45px;
}
.element4{
	width: 300px;
	min-height: 306px;
	background: #445161;
	border-radius: 6px;
	margin-right: 47px;
}
.standart{
	width: 300px;
	height: 22px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	padding-top: 11px;   
}
.price{
	width: 296px;
	height: 71px;
	border: 2px solid #445162;
	background: white;
	color: #445162;
	font-size: 40px;
	font-weight: 400;
	line-height: 71px;
	text-align: center;
	margin-top: 20px;  
}
.text4{
	width: 250px;
	min-height: 86px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 21px;
	padding-top: 12px;
}
li{
	list-style-position:inside;
}
.button4{
	width: 260px;
	height: 40px;
	background-color: #ffffff;
	color: #445161;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	margin: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.button4:hover{
	background-color: #ebebeb;
	font-size: 24px;
}
.container4{
	display: flex;
	padding-left: 145px;
	align-items: flex-end;
	padding-top: 35px; 
}
.contacts0{
	background: #445162;
	height: 509px;
}
.contacts{
	width: 117px;
	height: 22px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 582px;
	padding-top: 50px;
}
.formname{
	width: 486px;
	height: 40px;
	background-color: #ffffff;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 10px; 
}
.formemail{
	width: 486px;
	height: 40px;
	background-color: #ffffff;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.formmessage{
	width: 486px;
	height: 5px;
	background-color: #ffffff;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	margin-bottom: 21px;
	padding-top: 15px;
	padding-bottom: 145px;
	padding-left: 10px;
}
.btn0{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}
.btn{
	width: 140px;
	height: 40px;
	background-color: #ffffff;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	border: 1px transparent;
	cursor: pointer;
}
.btn:hover{
	background: #ebebeb;
	font-weight: 600;	
}
.container5{
	display: flex;
	padding-left: ;
	justify-content: center;
	margin-top: 30px;
}
.element51{
	width: 500px;
	margin-right: 50px
}
.element52{
	width: 240px;
}
.sprite {
	background-image: url(images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-email_icon {
	width: 22px;
	height: 22px;
	background-position: -5px -5px;	
}
.sprite-icq_icon {
	width: 26px;
	height: 26px;
	background-position: -37px -5px;
}
.sprite-phone_icon {
	width: 24px;
	height: 23px;
	background-position: -73px -5px;
}
.sprite-skype_icon {
	width: 24px;
	height: 26px;
	background-position: -107px -5px;
}
.skype{
	display: flex;
	margin-bottom: 20px; 
}
.skype_text{
	width: 165px;
	height: 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 7px;
	text-decoration: none;
}
.sprite2 {
	background-image: url(images/social_buttons.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-twitter_icon {
	width: 42px;
	height: 42px;
	background-position: -1px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.sprite-face_icon {
	width: 42px;
	height: 42px;
	background-position: -50px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.sprite-link_icon {
	width: 43px;
	height: 42px;
	background-position: -98px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.sprite-google_icon {
	width: 43px;
	height: 42px;
	background-position: -149px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.sprite-google_icon {
	width: 43px;
	height: 42px;
	background-position: -149px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.sprite-ytube_icon {
	width: 43px;
	height: 42px;
	background-position: -198px;	
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}