@font-face {
font-family: 'ArialMT Regular';
src: url('fonts/arialmt.eot');
src: local('☺'), url('fonts/arialmt.woff') format('woff'), url('fonts/arialmt.ttf') format('truetype'), url('fonts/arialmt.svg') format('svg');
font-weight: normal;
font-style: normal;
}
/* 
Из-за двух точек в начале ссылки, файл ищет в C:/font/  (https://prnt.sc/rqztvp)
 Хотя лежит он в C:/lesson_5/font/
 Лишняя точка в начале ссылки заставляет искать файл на уровень выше.

Теперь файл подключается, но браузер не может его декодировать (https://prnt.sc/rr05ud)
 Для решения этой проблемы есть сервис http://www.font2web.com/

Загружаешь туда свой шрифт, и скачиваешь архив, где в папке fonts будет этот шрифт
 во всевозможных форматах, а в файле fonts.css - способ этот шрифт правильно подключить;)
 Оставляй своё только font-family (название, по которому вызываешь шрифт в style.css)

*/